$tf-loader-field_back-bg: rgba(237, 244, 255, 0.3);

$tf-loader-field_front-bg: rgba(230, 221, 255, 0.68);
$tf-loader-field_front-bg-active: rgba(212, 196, 246, 1);
$tf-loader-field_front-bg-success: rgba(232, 221, 255, 1);

$tf-loader-field_front-text: rgba(46, 58, 89, 1);

$tf-loader-field_text-label: rgba(59, 59, 59, 1);
$tf-loader-field_require-label: rgba(255, 0, 0, 1);

$tf-loader-field_front-border: rgba(165, 146, 221, 1);
$tf-loader-field_front-border-active: rgba(46, 58, 89, 0.24);
