$tsg-outline-green: linear-gradient(
  220.91deg,
  rgba(145, 246, 182, 0.26) 18.9%,
  rgba(113, 203, 153, 0.26) 77.53%
);
$tsg-outline-blue: linear-gradient(
  36.87deg,
  rgba(54, 74, 251, 0.25) 18.45%,
  rgba(87, 126, 247, 0.24) 63.1%
);
$tsg-outline-purple: linear-gradient(
  33.69deg,
  rgba(168, 101, 255, 0.25) 24.17%,
  rgba(228, 194, 255, 0.25) 143.33%
);
$tsg-outline-yellow: linear-gradient(
  36.25deg,
  rgba(249, 196, 93, 0.25) 23.13%,
  rgba(253, 214, 116, 0.25) 78.58%
);
$tsg-outline-red: linear-gradient(
  220.91deg,
  rgba(216, 74, 55, 0.2) 18.9%,
  rgba(255, 0, 0, 0.2) 77.53%
);

$tsg-inner-green: linear-gradient(220.91deg, #91f6b6 18.9%, #71cb99 77.53%);
$tsg-inner-blue: linear-gradient(
  36.87deg,
  #364afb 18.45%,
  rgba(87, 126, 247, 0.96) 63.1%
);
$tsg-inner-purple: linear-gradient(33.69deg, #a865ff 24.17%, #e4c2ff 143.33%);

$tsg-inner-yellow: linear-gradient(36.25deg, #f9c45d 23.13%, #fdd674 78.58%);

$tsg-inner-red: linear-gradient(36.19deg, #ff0000 -3.23%, #ffffff 148.24%);
