$b-slider_registration-bg-active: rgba(165, 146, 221, 1);
$b-slider_cards-bg-active: rgba(253, 214, 116, 1);

$b-slider_registration-text: rgba(181, 181, 195, 1);
$b-slider_registration-text-active: rgba(248, 248, 255, 1);
$b-slider_cards-text: rgba(129, 129, 165, 1);
$b-slider_cards-text-active: rgba(59, 59, 59, 1);
