$b-slider-steps_curent-bg: rgba(245, 249, 255, 1);
$b-steps_next-bg: rgba(245, 249, 255, 1);
$b-steps_ready-bg: rgba(245, 249, 255, 1);

$b-steps_curent-text: rgba(46, 58, 89, 1);
$b-steps_next-text: rgba(149, 132, 99, 1);
$b-steps_ready-text: rgba(108, 191, 98, 1);
