@import url("../../../base/fills/fills.scss");

$tf-copy-paste_back-bg: rgba(165, 146, 221, 0.07);
$tf-copy-paste_back-bg-done: rgba(153, 238, 191, 1);
$tf-copy-paste_front-bg: rgba(230, 221, 255, 1);
$tf-copy-paste_front-bg-done: rgba(169, 248, 204, 1);

$tf-copy-paste_placeholder-label: rgba(0, 0, 0, 1);
$tf-copy-paste_placeholder-text: $primary-dark;
$tf-copy-paste_text: rgba(59, 59, 59, 0.5);
$tf-copy-paste_text-done: rgba(59, 59, 59, 0.7);
