$tf-iput-data_placeholder: rgba(46, 58, 89, 0.36);
$tf-iput-data_placeholder-focuse: rgba(0, 0, 0, 0.04);

$tf-iput-data_border: rgba(100, 95, 95, 1);
$tf-iput-data_border-focuse: rgba(165, 146, 221, 1);

$tf-iput-data_text: rgba(46, 58, 89, 1);

$tf-iput-data_bg-success: rgba(229, 254, 229, 1);
$tf-iput-data_bg-error: rgba(238, 52, 97, 0.3);
$tf-iput-data_text-label-error: rgba(255, 0, 0, 1);
