$tf-select_bg-active: rgba(248, 248, 255, 1);
$tf-select-option_bg: rgba(230, 221, 255, 0.07);
$tf-select-option_bg-active: rgba(230, 221, 255, 0.3);

$tf-select_text-active: rgba(46, 58, 89, 1);

$tf-select_text-active: rgba(46, 58, 89, 1);
$tf-select_border: rgba(46, 58, 89, 1);
