@import url("../../base/fills/fills.scss");

$pb_back-bg: rgba(165, 146, 221, 0.1000000015);
$pb_front-bg: rgba(151, 71, 255, 1);
$pb_back-bg-ready: rgba(217, 217, 217, 1);

$pb_back-bg-inner-save: rgba(255, 219, 109, 1);
$pb_back-bg-otline-save: rgba(251, 204, 63, 1);

$pb_text-save: $primary-dark;

$pb_border-save: rgba(0, 0, 0, 0.14);
