@import url("../../base/fills/fills.scss");

$pagination_bg: rgba(255, 255, 255, 1);
$pagination_bg-active: rgba(245, 249, 255, 1);

$pagination_text: $primary-dark;
$pagination_text-active: rgba(87, 126, 247, 0.9599999785);

$pagination_border: rgba(46, 58, 89, 0.0399999991);
